*.acn
*.acr
*.alg
*.auxlock
*.glo
*.glo-abr
*.idx
*.log
*.mtc
*.mtc0
*.slo
*.aux
*.out
*.bbl
*.blg
*.dvi
*.glg
*.glg-abr
*.gls
*.gls-abr
*.ilg
*.ind
*.ist
*.maf
*.mtc*
*.pdf
*.ps
*.slg
*.sls
*.toc
*.nav
*.snm
*.vrb
figtikz/*_ext*.eps
figtikz/*-ext*.eps
figtikz/*.md5
figtikz/*.dpth
figtikz/*.gz
test/*
sma_auto.pdf_save
sma_auto.pdf
figsonly.tex
